{% load static %}
<footer class="footer-area">
  <div class="footer-top bg-gray pt-120 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12 col-sm-6">
          <div class="footer-widget mb-30">
            <a href="{% url 'store:home' %}"
              ><img
                src="{% static 'assets/images/logo/Logo-1-dog.png' %}"
                alt="logo"
                width="150"
            /></a>
            <div class="footer-social">
              <span>Follow us:</span>
              <ul>
                <li>
                  <a target="_blank" href="https://www.facebook.com/IndianDogStore/"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a target="_blank" href="https://www.youtube.com/@indiandogstore7307"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                  <a target="_blank" href="https://t.me/s/indiandogstore"><i class="fa-brands fa-telegram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12 col-sm-6">
          <div class="footer-widget mb-30 footer-mrg-hm1">
            <div class="footer-title">
              <h3>Useful Link</h3>
            </div>
            <div class="footer-list">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 col-12 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>About us</h3>
            </div>
            <div class="footer-list">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Newsletter</h3>
            </div>
            <div class="subscribe-style mt-45">
              <p>Subscribe to get all new updates</p>
              <div id="mc_embed_signup" class="subscribe-form mt-20">
                <form class="d-flex" >
                  <input class="form-control me-1" type="search" placeholder="Enter your email" aria-label="Search" disabled>
                  <button class="btn btn-outline-dark" type="submit" disabled>
                    <i class="fa-solid fa-envelope"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-bluegray pt-40">
    <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-10 col-md-11 ms-auto me-auto">
              <div class="footer-tag-wrap">
                  <div class="footer-tag-title">
                  </div>
                  <div class="footer-tag-list">
                    <ul style="font-size: smaller;">
                      <li>
                          <a href="">Advertise With IDS</a>
                      </li>
                      <li>
                          <a href="">Terms of Use</a>
                      </li>
                      <li>
                          <a href="">Privacy &amp; Cookies</a>
                      </li>
                      <li>
                          <a href="">CA Privacy Rights</a>
                      </li>
                      <li>
                          <a href="">Website Info &amp; FAQs</a>
                      </li>
                      <li>
                          <a href="">Linking Policy</a>
                      </li>
                      <li>
                          <a href="">Material Reproduction Policy</a>
                      </li>
                  </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyright-3 text-center pt-20 pb-20 border-top-1">
        <p style="font-size: small;"><i class="fa-solid fa-copyright"></i> The Indian Dogs Store, Inc. 2024. All rights reserved</p>
        <small style="font-size: x-small;">Website crafted by <a href=""><u>NimoDB</u></a></small>
      </div>
    </div>
  </div>
</footer>