{% load static %}
<header class="header-area">
    <div class="main-header-wrap">
        <div class="header-top pt-15 pb-15 bg-black-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="welcome">
                            <a href="{% url 'store:home' %}">
                                <p>
                                    <small><i class="fa-solid fa-house"></i></small> Home
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="setting-wrap-2">
                            <div class="setting-content2-right">
                                {% if user.is_authenticated %}
                                <a href="{% url 'members:add_post' %}"> <i class="fa-solid fa-plus"></i> <small>New Post</small> </a>
                                <a href="{% url 'members:wishlist' %}" class="position-relative">
                                    <i class="fa-brands fa-gratipay"></i> <small>wishlist</small>
                                    <small>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{favorite_count}}
                                        </span>
                                    </small>
                                </a>
                                <a href="{% url 'members:dashboard' %}"> <i class="fa-solid fa-user-pen"></i> <small>My Account</small> </a>
                                <a href="{% url 'members:logout' %}"> <i class="fa-solid fa-arrow-right-from-bracket"></i> <small>Logout</small> </a>
                                {% else %}
                                <a href="{% url 'members:login' %}"> <i class="fa-solid fa-arrow-right-to-bracket"></i> <small>Login / Register</small> </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle border-top-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{% url 'store:home' %}">
                                <img src="{% static 'assets/images/logo/Logo-1-dog.png' %}" alt="logo" width="100" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar bg-logo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="category-menu-wrap">
                            <h3 class="showcat">
                                <a href="#">
                                    <img class="category-menu-non-stick" src="{% static 'assets/images/icon-img/category-menu.png' %}" alt="icon" />
                                    <img class="category-menu-stick" src="{% static 'assets/images/icon-img/category-menu-stick.png' %}" alt="icon" />
                                    Puppies <i class="la la-angle-down"></i>
                                </a>
                            </h3>
                            <div class="category-menu hidecat" style="display: none;">
                                <nav>
                                    <ul>
                                        <li class="cr-dropdown">
                                            <a href="{% url 'store:search_puppies' %}"> <i class="fa-solid fa-magnifying-glass"></i> Find a Puppy </a>
                                        </li>
                                        <li class="cr-dropdown">
                                            <a href="shop.html">View All Breeds</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 d-flex justify-content-end">
                        <div class="main-menu menu-common-style menu-lh-5 menu-margin-4 menu-font-2 menu-font-2-white res-hm8-margin">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'store:contact' %}">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-small-mobile sticky-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mobile-logo">
                        <a href="{% url 'store:home' %}">
                            <img src="{% static 'assets/images/logo/Logo-1-dog.png' %}" alt="logo" width="80" />
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-right-wrap">
                        <div class="cart-wrap common-style mr-20">
                            {% if user.is_authenticated %}
                            <a href="{% url 'members:wishlist' %}" class="position-relative">
                                <i class="fa-brands fa-gratipay"></i> <small>wishlist</small>
                                <small>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {{favorite_count}}
                                    </span>
                                </small>
                            </a>
                            {% else %}
                            <a href="{% url 'members:login' %}"> 
                                <i class="fa-solid fa-arrow-right-to-bracket"></i> <small>Login</small>
                            </a>
                            {% endif %}
                        </div>
                        <div class="mobile-off-canvas">
                            <a class="mobile-aside-button" href="#"><i class="la la-navicon la-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-off-canvas-active">
    <a class="mobile-aside-close"><i class="la la-close"></i></a>
    <div class="header-mobile-aside-wrap">
        <div class="mobile-search"></div>
        <div class="mobile-menu-wrap">
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li>
                            <a href="{% url 'store:home' %}">
                                <small><i class="fa-solid fa-house"></i></small> Home
                            </a>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"><i></i></span><a href="#"><i class="fa-solid fa-paw"></i> Puppies</a>
                            <ul class="dropdown" style="display: none;">
                                <li><a href="{% url 'store:search_puppies' %}"> <i class="fa-solid fa-magnifying-glass"></i> Find a Puppy </a></li>
                                <li><a href="#">View All Breeds</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'store:contact' %}">Contact us</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
        </div>
        <div class="mobile-menu-wrap">
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'members:add_post' %}"> <i class="fa-solid fa-plus"></i> <small>New Post</small> </a>
                        </li>
                        <li>
                            <a href="{% url 'members:dashboard' %}"> <i class="fa-solid fa-user-pen"></i> <small>My Account</small> </a>
                        </li>
                        <li>
                            <a href="{% url 'members:logout' %}"> <i class="fa-solid fa-arrow-right-from-bracket"></i> <small>Logout</small> </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'members:login' %}"> <i class="fa-solid fa-arrow-right-to-bracket"></i> <small>Login / Register</small> </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mobile-social-wrap">
            <a target="_blank" href="https://www.facebook.com/IndianDogStore/"><i class="fa-brands fa-facebook-f"></i></a>
            <a target="_blank" href="https://www.youtube.com/@indiandogstore7307"><i class="fa-brands fa-youtube"></i></a>
            <a target="_blank" href="https://t.me/s/indiandogstore"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </div>
</div>
