{% extends 'base.html' %} {% load static %}

<!-- !SEO blocks -->
<!-- Title -->
{% block title %}My Account{% endblock %}
<!-- Description -->
{% block description %}{% endblock %}
<!-- Keywords -->
{% block keywords %}{% endblock %}
<!-- Author -->
{% block author %}{% endblock %}

<!-- !Content -->
{% block content %}
<!-- my account wrapper start -->
<div class="my-account-wrapper pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- My Account Page Start -->
        <div class="myaccount-page-wrapper">
          <!-- My Account Tab Menu Start -->
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="myaccount-tab-menu nav" role="tablist">
                <a href="{% url 'members:dashboard' %}"
                  ><i class="fa fa-dashboard"></i> Dashboard</a
                >
                {% if user.profile.verified == 'V' %}
                <a href="{% url 'members:list_posts' %}"
                  ><i class="fa fa-cart-arrow-down"></i> Posts</a
                >
                {% endif %}
                <a href="{% url 'members:account_details' %}"
                  ><i class="fa fa-user"></i> Account Details</a
                >
                <a href="#dashboad" class="active" data-bs-toggle="tab"
                  ><i class="fa fa-dashboard"></i> Password change</a
                >
                <a href="{% url 'members:logout' %}"
                  ><i class="fa fa-sign-out"></i> Logout</a
                >
              </div>
            </div>
            <div class="col-lg-9 col-md-8">
              <div class="tab-content" id="myaccountContent">
                {% if messages %}
                  {% for msg in messages %}
                  <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                {% endif %}
                <div
                  class="tab-pane fade show active"
                  id="dashboad"
                  role="tabpanel"
                >
                  <div class="myaccount-content">
                    <h3>Change Password</h3>
                    <div class="account-details-form">
                      <form
                        method="POST"
                        action="{% url 'members:update_password' %}"
                      >
                        {% csrf_token %}
                        <fieldset>
                          <div class="single-input-item">
                            <label for="id_old_password" class="required"
                              >Current Password</label
                            >
                            {{ password_form.old_password }}
                            <!--  -->
                            {{ password_form.old_password.errors }}
                          </div>
                          <div class="single-input-item">
                            <label for="id_new_password1" class="required"
                              >New Password</label
                            >
                            {{ password_form.new_password1 }}
                          </div>
                          {{ password_form.new_password1.errors }}
                          <div class="single-input-item">
                            <label for="id_new_password2" class="required"
                              >Confirm Password</label
                            >
                            {{ password_form.new_password2 }}
                            <!--  -->
                            {{ password_form.new_password2.errors }}
                          </div>
                        </fieldset>
                        <div class="single-input-item">
                          <button
                            class="check-btn sqr-btn"
                            type="submit"
                            name="save_changes"
                            value="1"
                          >
                            Save Changes
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- Single Tab Content End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
